:root {
    --main-bg-color: #36D68C;
}

#pageintro {
    padding: 180px 0 130px;
}
ul{
    text-decoration: none;
}

footer h3 span {
    color: var(--main-bg-color) !important;
}
.titleTesti{
    margin-top: 90px;
}
div.testimoniales {
    padding-bottom: 20px;
}

div.testimonial {
    padding: 5px;
}

@media only screen and (min-width:768px) {
    div.testimonial {
        float: left;
        width: 31.3%;
    }
}

blockquote {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 20px;

}

blockquote p {
    text-align: left !important;
    font-size: 1em !important;
    font-family: 'PT Sans', sans-serif;
    padding: 0 20px 0 65px;
}

blockquote p::before {
    content: '\201c';
    position: absolute;
    left: 13px;
    top: 0px;
    font-size: 8rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--main-bg-color);
}

footer.info-testimonial {
    padding: 0;
    background-color: transparent;
}

footer.info-testimonial img {
    float: left;
    width: 20%;
    border-radius: 50%;
    margin-left: 20px;
}

footer.info-testimonial cite {
    text-align: left;
    color: var(--main-bg-color);
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 20px;
    width: 66.6%;
    float: right;
    font-weight: bold;
    font-style: normal;
}

footer.info-testimonial cite span {
    color: #000000;
    display: block;
    text-transform: none;
    margin-top: 5px;
}

.parallax::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: brightness(.8);
    filter: brightness(.8);
}

div.contador {
    position: relative;
    height: auto;
}

div.contador::before {
    background-image: url(../img/imgw2.jpg);
    content: '';
}

ul.resumen-evento {
    position: relative;
    padding: 120px 0;
    list-style: none;
    margin: 0;
}

ul.resumen-evento li {
    width: 50%;
    float: left;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

@media only screen and (min-width:768px) {
    ul.resumen-evento li {
        width: 25%;
    }
}

p.numero {
    color: var(--main-bg-color);
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    display: block;
    margin-bottom: 95px;
    /*margin: 20px 20px 10px 20px;*/
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family: 'Oswald', sans-serif !important;

}

ul.lista-invitados {
    list-style: none;

}

ul.lista-invitados li {
    padding: 10px;
    float: left;
}

/*ul.lista-invitados li img {
    width:100%;
}*/

@media only screen and (min-width: 480px) {
    ul.lista-invitados li {
        width: 46%;
    }
}

@media only screen and (min-width: 768px) {
    ul.lista-invitados li {
        width: 32%;
    }
}


div.invitado {
    position: relative;
    overflow: hidden;
}

div.invitado img {
    height: 250px !important;
    max-width: 100%;
    filter: gray;
    object-fit: cover;
    object-position: top;
    max-height: 250px !important;

    -webkit-filter: grayscale(1);
    transition: all .5s ease-in-out;
}

div.invitado:hover img {
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);


}

.contenedor{
    width: 98%;
    margin: 0 auto;
}
@media only screen and (min-width:480px){
    .contenedor{
        width: 95%;
    }
}
@media only screen and (min-width:768px){
    .contenedor{
        width: 95%;
    }
}
@media only screen and (min-width:992px){
    .contenedor{
        width: 90%;
        max-width: 1100px;
    }
}

div.invitado p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: #36D68C;
    text-transform: uppercase;
    transition: all .5s ease-in-out;

}

div.invitado:hover p {
    bottom: -80px;
    opacity: 0;
}

div.invitado.p {
    color: #36D68C;
}


footer {
    background-color: #353535;
    padding-top: 40px;
    margin-top: 20px;
}

footer .contenedor > div {
    color: #ffffff;
    padding: 0px 20px;
    font-size: 12px;
    text-align-last: justify;
}

@media only screen and (min-width:768px) {
    footer .contenedor > div {
        width: 29%;
        float: left;
    }
}

footer h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

footer h3 span {
    color: #fe4918;
}

footer .ultimos-tweets {
    margin-bottom: 10px;
}

footer .ultimos-tweets ul li{
    text-decoration: none !important;
}

footer nav {
    text-align: left;
}

.copyright {
    background: #2e2e2e;
    margin: 0px;
    text-align: left;
    color: #FFF;
    font-family: Economica,sans-serif;
    font-size: 1.125em;
    padding: 0px 0px 25px;
    padding-top: 20px;

}
div.newsletter .contenido{
    padding: 100px 0;
    color: #ffffff;
    text-align: center;
    position: relative;
}
div.newsletter .contenido p{
    font-size: 1.2em;
    text-transform: lowercase;
}
div.newsletter .contenido h3{
    color: #ffffff;
    font-size: 7vw;
    font-family: 'PT Sans', sans-serif;
}

footer p span{
    text-align: right;
    display: block;
    margin-top: 3px;
    font-size: .9em;
    margin-right: 80px;
}
header{
    display: block;
}
section{
    display: block;
}



.abutton:hover{
    background-color: var(--main-bg-color);
}
div.newsletter{
    position: relative;
    height: auto;
}
div.newsletter::before{
    background-image: url(../img/bg-newsletter.jpg);
    content: '';
}
div.newsletter .contenido{
    padding: 100px 0;
    color: #ffffff;
    text-align: center;
    position: relative;
}
div.newsletter .contenido p{
    font-size: 1.2em;
    text-transform: lowercase;
}
div.newsletter .contenido h3{
    color: #ffffff;
    font-size: 7vw;
    font-family: 'PT Sans', sans-serif;
}