div.barra{
    background-color: #353535;
    padding:20px 0;
    display: grid;
}
div.logo{
    width: 80%;
    float: left;

}

div.logo img{
    width: 100%;
}

@media only screen and (min-width:768px){
    div.logo {
        width: 33%;
    }
}
/**Nav principal **/
nav.navegacion-principal {
    display: none;
}

nav.navegacion-principal a{
     font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
nav.navegacion-principal a:hover{
    background-color: #fe4918;
}
nav.navegacion-principal a:last-child{
    border: 2px solid #fe4918;
    color: #fe4918;
}
nav.navegacion-principal a:last-child:hover{
    color:#ffffff;
}

@media only screen and (min-width:768px){
    nav.navegacion-principal
    {
        width: 67%;
        float: right;
        text-align: right;
        display: block;
    }
    nav.navegacion-principal a{
        margin-right: 10px;
        padding: 10px 10px;
        display: inline-block;
        width: auto;
        display: inline-block;
        text-align: center;
        margin:0 10px 0 0;
        
    }
}
/** Menu movil **/
div.menu-movil{
    width: 60px;
    display: block;
    float: right;
    margin-top: 12px; 
}
div.menu-movil:hover{
    cursor: pointer;
}

@media only screen and (min-width:768px){
    div.menu-movil{
      display: none;  
    }
}
div.menu-movil span{
    height: 8px;
    margin-bottom: 6px;
    background-color: white;
    display:block;
}