:root {
    --main-bg-color: #36D68C;
}

div.barra{
    background-color: #252525;
    padding: 6px 0;
    display: grid;
}
header{
    display: block;
}
div.logo{
    width: 80%;
    float: left;

}

div.logo img{
    width: 100%;
}

@media only screen and (min-width:768px){
    div.logo {
        width: 33%;
    }
}
/**Nav principal **/
nav.navegacion-principal {
    display: none;
}

nav.navegacion-principal a{
     font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s ease;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
nav.navegacion-principal a:hover{
    background-color: #36D68C;
}
nav.navegacion-principal a:last-child{
    border: 2px solid #36D68C;
    color: white;
}
nav.navegacion-principal a:last-child:hover{
    color:#ffffff;
}

@media only screen and (min-width:768px){
    nav.navegacion-principal
    {
        width: 67%;
        float: right;
        text-align: right;
        display: block;
    }
    nav.navegacion-principal a{
        margin-right: 10px;
        padding: 10px 10px;
        display: inline-block;
        width: auto;
        display: inline-block;
        text-align: center;
        margin:0 10px 0 0;
        
    }
}
/** Menu movil **/
div.menu-movil{
    width: 60px;
    display: block;
    float: right;
    margin-top: 12px; 
}
div.menu-movil:hover{
    cursor: pointer;
}

@media only screen and (min-width:768px){
    div.menu-movil{
      display: none;  
    }
}
div.menu-movil span{
    height: 8px;
    margin-bottom: 6px;
    background-color: white;
    display:block;
}

/** Globales**/
.contenedor{
    width: 98%;
    margin: 0 auto;
}
@media only screen and (min-width:480px){
    .contenedor{
        width: 95%;
    }
}
@media only screen and (min-width:768px){
    .contenedor{
        width: 95%;
    }
}
@media only screen and (min-width:992px){
    .contenedor{
        width: 90%;
        max-width: 1100px;
    }
}
.seccion{
    padding:30px 0;
}
.seccion p{
    font-size: 1.2em;
    text-align: center;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}
h2::after{
    content: '';
    margin: 0 auto;
    background-image: url(../img/separador.png);
    height: 30px;
    width: 100px;
    display: block;
}
h3{
    font-size: 1.8em;
    color: #fe4918;
    font-family:  'PT Sans', sans-serif;
    margin: 0;
}
.button{
    background-color: #fe4918;
    padding: 10px 40px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    float: right;
    transition: all .3s ease;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.button:hover{
    background-color: var(--main-bg-color);
}

/**Tabla precios**/
.abutton{
    background-color: var(--main-bg-color);
    padding: 10px 40px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    transition: all .3s ease;
    border:2px solid var(--main-bg-color);

}
.abutton.hollow,
.abutton.hollow:hover{
    background-color: white;
    color: #fe4918;
}
.abutton.transparente{
    background-color: transparent;
    border: 2px solid #ffffff;
}
.abutton.transparente:hover{
    border: 2px solid var(--main-bg-color);
}

.abutton:hover{
    background-color: var(--main-bg-color);
}
ul.lista-precios >li{
    padding: 10px;
}

@media only screen and (min-width:768px){
    ul.lista-precios >li{
        float: left;
        width: 31.3%;
    }
}

div.tabla-precio{
    margin: 0px;
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
    padding: 42px 0;
    text-align: center;
    transition: all .3s;
}
div.tabla-precio:hover{
    transform:scale(1.1);
    border: 1px solid #fe4918;
    box-shadow: 0px 0px 50px #666666;
}
div.tabla-precio ul li{
    font-family:  'PT Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #868686;
    line-height: 26px;
}
/*div.tabla-precio ul li::before{
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    font-size: 20px;
    color: green;
    -webkit-font-smoothing:antialiased;
    content: '\f00c';
}*/
div.tabla-precio h3{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
div.tabla-precio p.numero{
    color: #000000;
    margin: 20px 0;
}
div.tabla-precio li i{
    color: green;
    font-size: 20px;
}
